<!DOCTYPE html>
<html>
    <head>
       <title>home</title>
    </head>
    <body>
        <div>
           <h1>welcome <%=name%></h1> 
            <div class = "details">
                <h1>Personal details</h1>
                <p>Name        : <%=name%></p>
                <p>Email       : <%=email%></p>
                <p>Age         : <%=age%></p>
                <p>Sex         : <%=sex%></p>
                <p>Contact no. : <%=mobile%></p>
                <p>country     : <%=country%></p>
            </div>
        </div>
        <div>
            <a href='/edit'><button>Edit</button></a>
            <a href = "/" ><button>Logout</button></a>
        </form>
       </div>
    </body>
</html>